.type-expertise {
  margin-top: 56px;

  @include on-tablet {
    margin-top: 64px;
  }

  &__photo {
    width: 184px;
    height: 166px;
    border-radius: 20px;
    cursor: pointer;

    @include hover(transform scale(1.2));
  }

  &__title {
    @extend %h3;

    font-size: 20px;
    line-height: 140%;
    margin-top: 32px;
  }

  &__subtitle {
    @extend %p;

    margin-top: 16px;
    font-size: 14px;

    @include on-tablet {
      max-width: 362px;
      margin: 16px auto;
    }
  }
}
